html {
  background-color: #ffffff;
}

.nav-link {
  text-align: right !important;
}

.nav-item {
  color:  #df9902 !important;
}

.navbar-nav a:visited {
  color: #df9902 !important;
}

.navbar-nav {
  color: #df9902 !important;
}

.navbar-nav a:hover {
  color: #dfdfdf !important;
}

.navbar-nav{
  margin-inline-start: auto;
  margin-right: 20px !important;
  margin-top: 10px !important;
}

.navbar-brand{
  margin-left: 20px;
}


body{
  background-color: transparent;
}


.page-footer{
  background-color: #343a40;
  background-image: url('StefPortraitFinal.png');
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  color: #dbdbdb;
}

.bgimage {
  width:100%;
  height:700px;
  background: url('https://stef.zenfolio.com/img/s/v-10/p3806117769.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
}

.bgimage h5{
  color:#343a40;
  text-align: left;
  margin-top: 300px;
  font-size: xxx-large;
  font-style: bold;
}


.bgimage p {
  text-align: left;
  padding-right: 20%;
}

.bgimage h4{
  text-align: left;
  padding-right: 20%;
}


.bgimage1 {
  width:100%;
  height:850px;
  background: url('https://stef.zenfolio.com/img/s/v-10/p3806285091.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
}



.bgimage1 h5{
  color:#343a40;
  text-align: right;
  margin-top: 150px;
  font-size: xxx-large;
  font-style: bold;
  padding-right: 20%;
}

.bgimage1 h4{
  text-align: right;
  padding-right: 20%;
}



.btn-primary {
  background-color:#df9902 !important;
  border-color: rgb(211, 211, 211) !important;
}

.btn-primary:hover, btn-primary:focus, btn-primary:active {
  color: rgb(211, 211, 211) !important;
  background-color: #797979 !important;
  border-color: #8b8b8b !important;
}




.col-md-6{
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.col-md-12{
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.footer a:visited, footer a { 
color: #df9902;
}

.footer a:any-link, footer a:active, footer a:hover {
  color: #dfdfdf;
  }

.mb-4 {
  padding-top: 75px;
}

.text-md-left{
  padding-left: 3% !important;
}















